body{
    width: 1280px;
    background-color: #FFFFFF;
    margin: 0 auto;

}
.navral{
    width: 620px;
    padding: 32px 330px;
    display: flex;
    justify-content: space-between;

}

.header-menu{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    display: inline-block;
    align-items: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FF0000;
}

.picture{
    width: 1280px;
    margin-bottom: 45px;

}
.main-content{
    width: 1280px;
}

.heading{
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    display: inline;
    align-items: center;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #373737;
    margin: 0 255px;
}

.first-p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2px;
    color: #373737;
    width: 1145px;
    margin: 38px 68px 28px 68px;
}

.second-p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2px;
    color: #373737;
    width: 1145px;
    margin: 0 68px 66px;
}
.btn{
    width: 191px;
    height: 51px;
    margin: 0 auto;
    background-color: red;
    border-radius: 4px;
    border: 0;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    display: block;
    align-items: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer{
    height: 161px ;
}

.footer-text{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: inline-block;
    align-items: center;
    letter-spacing: 2px;
    color: #373737;
    padding: 40px 105px 29px 713px;
}
